{% extends 'base.html' %}
{%block content%}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>{{ rental.car }}</h1>
        <p>Date from: {{ rental.start_date }}</p>
        <p>Date to: {{ rental.end_date }}</p>
        <p>Client: {{ rental.customer }}</p>

        <!-- Botón de editar que abrirá el modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
            Finish rental
        </button>

        <!-- Modal de edición -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Please rate the experience of this rental</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario de edición -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <div class="rating" style="text-align: center">
                                    <input type="radio" name="rating" value="1" id="star1"><label for="star1"> Horrible</label><br>
                                    <input type="radio" name="rating" value="2" id="star2"><label for="star2"> Bad</label><br>
                                    <input type="radio" name="rating" value="3" id="star3"><label for="star3"> Good</label><br>
                                    <input type="radio" name="rating" value="4" id="star4"><label for="star4"> Very good</label><br>
                                    <input type="radio" name="rating" value="5" id="star5"><label for="star5"> Excelent</label><br>
                                </div>
                            </div>
                            <button type="submit" value="Save" class="btn btn-primary">Submit Rating</button>
                        </form
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}