{% extends 'base.html' %}

{% block title %}
    Rental Console - CARRENTAL
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rental console</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/cars/new-rental/">New Rental</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rental ID</th>
                <th>Car</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Calification</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
            
            <tr>
                <td><a href="/cars/rental/{{rental.pk}}">{{ rental.id }}</a></td>
                <td>{{ rental.car }}</td>
                <td>{{ rental.start_date }}</td>
                <td>{{ rental.end_date }}</td>
                <td>{{ rental.calification }}</td>
                <td>{{ rental.get_price }}</td>
            </tr>
          </a>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
