{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="text-align: left;">
    <h1>Change Password</h1>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
            {{ form.old_password }}
        </div>
        <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
            {{ form.new_password1 }}
        </div>
        <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <div style="margin-top: 20px; text-align: left;">
        <p>Make sure your new password meets the following criteria:</p>
        <ul id="password-criteria">
            <li>At least 8 characters long</li>
            <li>Contains a mix of uppercase and lowercase letters</li>
            <li>Includes at least one number</li>
            <li>Should have special characters for added security</li>
        </ul>
    </div>
    <a href="{% url 'profile' %}" class="btn btn-secondary mt-3">Back to Profile</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    const password1Input = $('#id_new_password1');
    const password2Input = $('#id_new_password2');

    password1Input.on('input', function() {
        checkPasswordCriteria(password1Input.val());
    });

    function checkPasswordCriteria(password) {
        const criteriaList = $('ul#password-criteria li');

        const criteriaMet = [
            password.length >= 8,
            /[a-z]/.test(password),
            /[A-Z]/.test(password),
            /\d/.test(password),
            /[!@#$%^&*()_+[\]{};':"\\|,.<>/?]+/.test(password)
        ];

        criteriaList.each(function(index) {
            if (criteriaMet[index]) {
                $(this).css('color', 'green');
            } else {
                $(this).css('color', 'red');
            }
        });
    }
});
</script>

{% endblock %}