{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="text-align: center;">
    <h1>Change Password</h1>
    
    <div class="messages-container" style="text-align: left;">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-top: 20px;text-align: center;">
            <form method="post">
                {% csrf_token %}
                <div class="mb-4" style="text-align: left;">
                    <label for="{{ form.old_password.id_for_label }}" class="form-label">Old Password:</label><br>
                    {{ form.old_password }}
                </div>
                <div class="mb-4" style="text-align: left;">
                    <label for="{{ form.new_password1.id_for_label }}">New Password:</label><br>
                    {{ form.new_password1 }}
                    <button type="button" class="btn btn-link" id="show-password1">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="mb-4" style="text-align: left;">
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label><br>
                    {{ form.new_password2 }}
                    <small class="text-danger" id="password-mismatch-error" style="display: none;">Passwords do not match.</small>
                </div>
                <div class="d-flex justify-content-start" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div style="margin-top: 20px; text-align: center;">
                <p>Make sure your new password meets the following criteria:</p>
                <ul id="password-criteria">
                    <li>At least 8 characters long</li>
                    <li>Lowercase letters</li>
                    <li>Uppercase letters</li>
                    <li>Includes at least one number</li>
                    <li>Should have special characters for added security</li>
                </ul>
            </div>
        </div>
    </div>
    <a href="{% url 'profile' %}" class="btn btn-secondary mt-3">Back to Profile</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    const password1Input = $('#id_new_password1');
    const password2Input = $('#id_new_password2');
    const showPassword1Button = $('#show-password1');
    const passwordMismatchError = $('#password-mismatch-error');

    password1Input.on('input', function() {
        checkPasswordCriteria(password1Input.val());
    });

    showPassword1Button.on('click', function() {
        togglePasswordVisibility(password1Input, showPassword1Button);
    });
    
    password2Input.on('input', function() {
        checkPasswordMatch();
    });
    
    function checkPasswordCriteria(password) {
        const criteriaList = $('ul#password-criteria li');

        const criteriaMet = [
            password.length >= 8,
            /[a-z]/.test(password),
            /[A-Z]/.test(password),
            /\d/.test(password),
            /[!@#$%^&*()_+[\]{};':"\\|,.<>/?]+/.test(password)
        ];

        criteriaList.each(function(index) {
            if (criteriaMet[index]) {
                $(this).css('color', 'green');
            } else {
                $(this).css('color', 'red');
            }
        });
    }
    
    function togglePasswordVisibility(inputField, button) {
        const inputType = inputField.attr('type');
        if (inputType === 'password') {
            inputField.attr('type', 'text');
            button.find('i').removeClass('fa-eye').addClass('fa-eye-slash');
        } else {
            inputField.attr('type', 'password');
            button.find('i').removeClass('fa-eye-slash').addClass('fa-eye');
        }
    }
    
    function checkPasswordMatch() {
        if (password1Input.val() !== password2Input.val()) {
            passwordMismatchError.show();
        } else {
            passwordMismatchError.hide();
        }
    }
});
</script>

{% endblock %}