{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="text-align: center;">
    <h1>User Registration</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3" style="text-align: left;">
            <label class="form-label" style="display: block; width: 100px;">Username:</label>
            {{ form.username }}
        </div>
        <div class="mb-3" style="text-align: left;">
            <label class="form-label" style="display: block; width: 100px;">Email:</label>
            <input type="email" id="email" name="email" class="form-control">
            <span id="email-error" style="color: red;"></span>
        </div>        
        <div class="mb-3" style="text-align: left;">
            <label class="form-label" style="display: block; width: 100px;">Phone:</label>
            {{ form.phone }}
        </div>
        <div class="mb-3" style="text-align: left;">
            <label class="form-label" style="display: block; width: 100px;">Address:</label>
            {{ form.address }}
        </div>
        <div class="mb-3" style="text-align: left;">
            <label class="form-label" style="display: block; width: 100px;">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="mb-3" style="text-align: left;">
            <label class="form-label" style="display: block; width: 100px;">PasswordConfirmation:</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <div style="margin-top: 10px;"></div>
    <div class="mb-3">
        <p>Already registered? <a href="{% url 'login' %}">Log in here</a></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#email').on('input', function() {
        const email = $(this).val();
        $.ajax({
            url: '/users/check_email/',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function(data) {
                if (data.email_taken) {
                    $('#email-error').text('This email already in use.');
                } else {
                    $('#email-error').text('');
                }
            }
        });
    });
});
</script>

{% endblock %}